.header__top-line {
   padding: 17px 0 16px;
   font-weight: 500;
   font-size: 14px;
   color: var(--color-white);
   background-color: var(--menu-black);

   @media (max-width: 1258px) {
      padding: 12px 0 11px;
   }
}

.header__top-inner {
   display: flex;
   flex-wrap: wrap;
   column-gap: 79px;
   row-gap: 10px;
   align-items: center;
   padding-left: 116px;

   @media (max-width: 1258px) {
      column-gap: 59px;
      padding-left: 6px;
   }
}

.header__top-item {
   transition: color 0.17s ease;

   &:focus {
      outline: none;
   }

   &:focus-visible {
      outline: 4px solid var(--focus-main-color);
      outline-offset: 2px;
   }

   &:hover {
      font-weight: 700;
   }
}

.header__top-item--hover-color {
   &:hover {
      color: var(--color-red, #dc4433);
   }
}

.header__bottom-line {
   padding: 21px 0;
   background-color: var(--color-white);

   @media (max-width: 1258px) {
      padding: 20px 0;
   }
}

.header__bottom-inner {
   display: flex;
   flex-wrap: wrap;
   column-gap: 60px;
   row-gap: 10px;
   align-items: center;
   justify-content: space-between;
}

.header__logo {
   transition: transform 0.12s ease;

   &:focus {
      outline: none;
   }

   &:focus-visible {
      outline: 4px solid var(--focus-main-color);
      outline-offset: 2px;
   }

   &:hover {
      transform: scale(1.07);
   }

   @media (max-width: 1258px) {
      --width: 140px;
      --height: 26px;
   }
}

.header__main-menu {
   @media (max-width: 1258px) {
      display: none;
   }
}

.header__burger {
   display: none;

   @media (max-width: 1258px) {
      display: flex;
   }
}

.header-top-item {
   display: flex;
   column-gap: 5px;
   align-items: center;
}

.header-top-item__icon {
   display: block;
   width: 1em;
   height: 1em;

   svg,
   img {
      width: 100%;
      height: 100%;
      fill: currentcolor;
      object-fit: cover;
   }
}

.header-top-item__text--small {
   font-size: 12px;
}

.header-top-item__text--fw400 {
   font-weight: 400;
}

.header-top-item__text--ml {
   margin-left: 5px;
   color: #e2e2e2;
}

.main-menu {
   font-weight: 400;
   font-size: 16px;
}

.main-menu__list {
   display: flex;
   column-gap: 26px;
   align-items: center;
}

.main-menu__link {
   display: flex;
   column-gap: 6px;
   align-items: center;
   transition: color 0.17s ease;

   &:focus {
      outline: none;
   }

   &:focus-visible {
      outline: 4px solid var(--focus-main-color);
      outline-offset: 2px;
   }

   &:hover {
      font-weight: 500;
      color: var(--menu-black, #000);
   }

   &.active,
   &:active {
      font-weight: 500;
      color: var(--color-red, #dc4433);
   }
}

.main-menu__link-icon {
   display: block;
   width: 6px;
   height: 4px;

   svg,
   img {
      width: 100%;
      height: 100%;
      fill: currentcolor;
      object-fit: cover;
   }
}
