:root {
   // global
   --container-max-width: 1110px;
   --container-safety-indents: 15px;

   // fonts
   --font-family: "Roboto", sans-serif;
   --font-size: initial;
   --line-height: normal;

   // Color
   --color-white: #fff;
   --menu-black: #000;
   --header-black: #212121;
   --color-red: #dc4433;
   --button-hover-red: #cb1400;
   --light-grey: #131212;
   --menu-dark-grey: #424242;

   // ...
   --main-text-color: var(--menu-dark-grey, #424242);
   --focus-main-color: #cb2f00;

   // Sizes
}
